server:
  port: ${sp.login}
  shutdown: graceful
spring:
  application:
    name: ${sn.login}
  cloud:
    sentinel:
      transport:
        # 控制台地址
        dashboard: 114.116.241.168:8888
        port: 8720
      eager: true

# 开启sentinel声明式服务熔断
feign:
  sentinel:
    enabled: true

mybatis:
  mapper-locations: classpath:mapper/*Mapper.xml
  type-aliases-package: com.shoes.login.entity
  configuration:
    map-underscore-to-camel-case: true
logging:
  level:
    com:
      shoes:
        login:
          mapper : debug