server:
  port: ${sp.gateway}
spring:
  application:
    name: ${sn.gateway}
  cloud:
    gateway:
      router:
        - id: authorization-router
          uri: lb://${sn.gateway}
          predicates:
          - Path=/authorization/**

        - id: login-router
          uri: lb://${sn.login}
          predicates:
            - Path=/login/**

        - id: cart-router
          uri: lb://${sn.cart}
          predicates:
            - Path=/cart/**

        - id: products-router
          uri: lb://${sn.products}
          predicates:
            - Path=/products/**

        - id: search-router
          uri: lb://${sn.search}
          predicates:
            - Path=/search/**

        - id: payment-router
          uri: lb://${sn.payment}
          predicates:
            - Path=/payment/**
secure:
  # 配置是否开启鉴权
  openauthorization: false
  # 配置白名单路径
  white:
    urls:
      - "/swagger**/**"
      - "/webjars/**"
      - "/v3/**"
      - "/doc.html"
      - "/actuator/**"
      - "/authorization/oauth/token"
      - "/login/auth-login"
      - "/login/refresh-token"
      - "/captcha/**"